<h1>Calculator</h1>
<form action="/evaluate" method="post" class="calculator-form">
  <input type="text" name="array" class="calculator-form__array" placeholder="Add an array...">
  <select name="type">
    <option value="average">average</option>
    <option value="mode">mode</option>
    <option value="median">median</option>
    <option value="add">add</option>

  </select>

  <!--
  <button type="button" name="average">average</button>
  <button type="button" name="mode">mode</button>
  <button type="button" name="median">median</button> -->

  <input type="submit" class="calculator-form__submit" value="Submit">

</form>
