<h1>Calculator</h1>
<form action="/evaluate" method="post" class="calculator-form">
  <input type="text" name="array" class="calculator-form__label" placeholder="Add an array...">
  <input type="submit" class="calculator-form__submit" value="Submit">
</form>
